.hero {
  position: relative;
  background: url(eys.jpg) center/cover no-repeat;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6); /* सिर्फ image पर black layer */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* text overlay से ऊपर दिखेगा */
  color: white;
  text-align: center;
  padding-top: 200px;
}

.body-content {
  padding: 20px;
  color: black;
}
